#### Create markdown cell with title of the notebook

# Data Science Tools and Ecosystem

# Data Science Tools and Ecosystem

#### Create a markdown cell for an introduction

## In this notebook, Data Science Tools and Ecosystem are summarized.

## In this notebook, Data Science Tools and Ecosystem are summarized.

###  Insert a markdown cell to list Objectives

**Objectives:**

**Objectives:**

- List popular languages for Data Science
- List commonly used libraries used by Data Scientists
- List few examples of evaluating arithmetic expressions in Python
- Create a code cell to convert minutes to hours

- List popular languages for Data Science
- List commonly used libraries used by Data Scientists
- List few examples of evaluating arithmetic expressions in Python
- Create a code cell to convert minutes to hours

#### Create a markdown cell to list data science languages

### Some of the popular languages that Data Scientists use are:
1. Python
2. Java
3. Julia
4. C

### Some of the popular languages that Data Scientists use are:
1. Python
2. Java
3. Julia
4. C

#### Create a markdown cell to list data science libraries

### Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pytorch
3. Matplotlib
4. Seaborn

### Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pytorch
3. Matplotlib
4. Seaborn

## Create a markdown cell with a table of Data Science tools

| Data Science Tools |
| -------------|
| Jupyter |
| R Studio |
| Anaconda |

| Data Science Tools |
| -------------|
| Jupyter |
| R Studio |
| Anaconda |

### Create a markdown cell introducing arithmetic expression examples

### Below are a few examples of evaluating arithmetic expressions in Python

### Below are a few examples of evaluating arithmetic expressions in Python

### Create a code cell to multiply and add numbers

#### This a simple arithmetic expression to mutiply then add integers

#### This a simple arithmetic expression to mutiply then add integers

In [1]:
(3*4)+5

17

## Create a code cell to convert minutes to hours

### This will convert 200 minutes to hours by diving by 60

### This will convert 200 minutes to hours by diving by 60

In [2]:
200/60

3.3333333333333335

### Create a markdown cell to indicate the Author's name

## Author
Tahniyath Fathima

## Author
Tahniyath Fathima